# Base
site_name: UCL Research Computing Documentation
# This URL points to the GitHub-hosted copy, can be used in a pinch
#site_url: http://rits.github-pages.ucl.ac.uk/mkdocs-rc-docs/
site_url: https://www.rc.ucl.ac.uk/docs/
site_author: UCL RCAS Team
site_description: Documentation for the centrally provided Research Computing HPC services at UCL.

# Halts site-build if broken internal links are found: disable in alpha
# strict: true

# Copyright
copyright: 'Copyright &copy; 2014 - 2024 UCL Research Computing Group'

# Associated Git Repo Config
repo_name: UCL-RITS/mkdocs-rc-docs
repo_url: https://github.com/UCL-RITS/mkdocs-rc-docs

# If this is removed, the edit buttons will go away. I like them.
edit_uri: blob/master/mkdocs-project-dir/docs/

# Theme Configuration
# Colour options: red, pink, purple, deep purple, indigo, blue, light blue, cyan, teal, green, light green, lime, yellow, amber, orange, deep orange
theme:
  name: 'material'
  language: 'en'
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: 'deep purple'
    accent: 'deep purple'
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: 'deep purple'
    accent: 'deep purple'
    toggle:
      icon: material/weather-night
      name: Switch to light mode
# You can add more colour scheme options here but there's probably no need and the added complexity in switching (tri+modal instead of just light/dark) would probably just make it confusing.
  font: false
  logo: 'img/portico.svg'
  features:
    - instant
  icon:
    repo: fontawesome/brands/github
#Boo GDPR
#  font:
#    text: 'Roboto'
#    code: 'Roboto Mono'
# To elaborate: when you specify fonts here, they are sourced from Google Fonts. This is an info leak.
# I'm not sure if this is a problem for GDPR-compliance, but strictly, removing the font spec here
#  makes it use the fonts UCL says we "should" anyway, so I guess it's an "improvement" either way.
  favicon: 'img/favicon.ico'

# Extensions
#
# codehilite: omitting linenums: setting means they get added when there's a shebang
#   Even if it's a secret shebang -- shebangs with no forward-slash count are removed
#   See also: https://python-markdown.github.io/extensions/code_hilite/#usage
#   It's not 100% clear to me what Mkdocs-Material's plan is on CodeHiLite vs pymdownx.highlight
#   but since the linenumbers seem janky either way (not lining up, appearing weirdly) I'm going
#   to add settings that will disable them for both, along with turning off guessing for both.
# 
# def_list: these use a different syntax to GitHub-flavoured Markdown
#   Put the term on a line on its own, then follow it with a line that begins with a colon `:`
#   with the definition. 
#
# sane_lists: this makes lists behave a little more sensibly, and lets you start an ordered list with
#   a specified number. See here for details: https://python-markdown.github.io/extensions/sane_lists/
#
# There's more of these pymdownx extensions if needed
# See: https://squidfunk.github.io/mkdocs-material/reference/formatting/
# pymdownx.keys: this adds ++key++ syntax for making things formatted like buttons for keys to press
# pymdownx.tilde: this adds ~~blah~~ for strikethrough
#
# attr_list: this lets you specify html classes on elements. in particular we use it to make links
#            look like buttons occasionally
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: false
  - def_list
  - pymdownx.highlight:
      guess_lang: false
      linenums: false
  - toc:
      permalink: ยง
  - footnotes
  - sane_lists
  - pymdownx.keys
  - pymdownx.tilde
  - attr_list

# Plugins
# Search is included by default but only if you don't add any others, so
# we have to add it here
plugins:
  - search
  - awesome-pages
# https://github.com/lukasgeiter/mkdocs-awesome-pages-plugin
  - htmlproofer:
      enabled: !ENV [DOCS_ENABLE_HTMLPROOFER, True]
      validate_external_urls: true
      raise_error: !ENV [DOCS_FAIL_ON_BAD_LINK, False]
      # ^-- ideally we would change the default here once all the initial problems have been fixed


# Customization
extra:
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/UCL-RITS'
extra_css:
      - 'stylesheets/tweaks.css'
