
/*
 * The contrast on the search entries was too low, apparently.
 * By default they're black with partial alpha; we set them
 * all to plain black, which should help.
 */

.md-search-result__title {
    color: black;
}

.md-search-result__link:hover {
    color: black;
}

// Number of search results box
.md-search-result__meta {
    color: black;
}

.md-search-result__teaser {
    color: black;
}

